@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */

/* 모바일 인풋태그 확대방지 */
input, textarea, select, button {
    font-size: 16px;
  }
  
/* 모바일 반응형 상단 붙이기 */
/* @layer base {
    @media (max-height: 1000px) {
      .mobile-height-adjust {
        margin-top: 10px;
      }
    }
  }
   */

   .swipeable-container {
    overflow-x: auto;
    white-space: nowrap;
    padding: 0 0.5rem; /* 좌우 패딩 */
  }
  
  .swipeable-content {
    display: flex;
    flex-direction: row;
  }
  
  .swipeable-item {
    display: inline-block;
    margin-right: 1rem; /* 항목 사이의 간격 */
  }
  